@use "variables";

// --- elements style -------------------------------------

// --- sections -------------------------------------------
#sections-without-sidebar {
    width: 72%;
    position: absolute;
    right: 1%;
    display: flex;
    flex-direction: column;
}

// --- intro section --------------------------------------
#intro {
    height: 532px;
    padding-left: 60px;
    padding-right: 58px;
    padding-bottom: 0px;
    display: flex;
}

#intro-left-part {
    display: flex;
    flex-direction: column;
}

#intro-header {
    width: 500px;
    height: 135px;
    margin-top: 106px;

    span {
        color: variables.$header_text_color;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 123.6%;

        span {
            color: variables.$text_background_color;
        }
    }
}

#intro-text {
    width: 424px;
    height: 100px;
    margin-top: 20px;

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

#intro-hire {
    width: 154px;
    height: 56px;
    padding: 0px;
    margin-top: 28px;
    background-color: variables.$text_background_color;
    border-radius: 5px;
    border-style: none;
    display: flex;

    div {
        margin-top: 16px;
        margin-left: 32px;
        span {
            position: inherit;
            color: variables.$header_text_color;
            font-weight: bold;
            font-size: 16px;
            font-family: variables.$main-font-stack;
        }

        img {
            width: 11px;
            height: 11px;
            object-fit: cover;
            margin-left: 12px;
        }
    }
}

@media only screen and (max-width: variables.$person-hidden-width) {
    #intro-person {
        visibility: hidden;
    }
}

#intro-person {
    position: relative;
    margin-left: 5px;

    img {
        position: absolute;
        bottom: 0px;
    }
}

// --- sidebar section ------------------------------------
@media only screen and (max-width: variables.$sidebar-hidden-width) {
    #sidebar {
        visibility: hidden;
    }
    
    #sections-without-sidebar {
        width: 80%;
        position: relative;
        margin: 0px auto 0px auto;
        right: 1%;
        display: flex;
        flex-direction: column;
    }

    #service-block {
        margin-left: auto;
        margin-right: auto;
    }

    #service-blocks {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

#sidebar {
    position: absolute;
    left: 0px;
    width: 305px;
    padding: 50px 45px 25px 40px;

    hr {
        border-top: solid variables.$line_separator_color 1.5px;
        margin: 25px auto 25px auto;
    }
}

#sidebar-person {
    display: flex;
    flex-direction: column;

    img {
        width: 150px;
        height: 150px;
        margin: 0px auto 0px auto;
    }

    #name {
        margin: 31px auto 0px auto;
        color: variables.$header_text_color;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 123.6%;
    }

    #skill {
        margin: 15px auto 0px auto;
        color: variables.$text_color;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }

    #links {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        .link-circle {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background-color: variables.$text_background_color;

            .image-container {
                text-align: center;
                
                img {
                    width: 12px;
                    height: 12px; 
                    vertical-align: middle;
                }
            }
        }
    }
}

#available-circle {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 166px;
    left: 198px;
    border-radius: 8px;
    img {
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
}

#infos {
    .infos-fields {
        height: 126px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .infos-row {
            display: flex;
            justify-content: space-between;
            
            .key {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                height: 24px;
                padding: 0px 6px 0px 5px;
                background-color: variables.$text_background_color;
            }

            .value {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
            }

        }
    }
}

#available {
    color: variables.$available_color;
}

.part-header {
    color: variables.$header_text_color;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
}

#lang-advanced {
    transform: translate(22px, 1px);
}

#lang-native {
    transform: translateX(5px);
}

#language {
    .part-header {
        margin-bottom: 15px;
    }

    #language-fields {
        display: flex;
        flex-direction: column;

        .language-row {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 18px;
            
            .key {
                color: variables.$text_color;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
            }

            .value {
                color: variables.$text_color;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}

#contacts {
    .part-header {
        margin-bottom: 40px;
    }

    table tr td {
        color: variables.$text_color;
        height: 44px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }

    table tr td:nth-child(2) {
        transform: translateX(20px);
    }  
}

#skills {
    .part-header {
        margin-bottom: 15px;
    }

    ul {
        list-style-image: url(icons/item-bullet.svg);
        padding-left: 1em;

        li span {
            position: relative;
            left: +15px;
            color: variables.$text_color;
            height: 44px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

#download-cv {
    height: 40px;
    background-color: variables.$text_background_color;
    display: flex;

    div {
        margin-top: 10px;
        margin-left: 40px;
        span {
            position: inherit;
            color: variables.$header_text_color;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
        }

        img {
            width: 11px;
            height: 11px;
            object-fit: cover;
            margin-left: 12px;
        }
    }
}

// --- my_services section --------------------------------
#my_services {
    background-color: variables.$background_color;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

#service-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#advertising-service {
    text-align: center;
    #service-ad {
        width: 260px;
        margin: 22px auto 0px auto;
    }

    #order-now {
        color: variables.$text_background_color;
        margin-top: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
    }
}

.service-block {
    width: 310px;
    height: 225px;
    margin-bottom: 20px;
    background-color: variables.$section_color;
    text-align: center;

    img {
        width: 70px;
        height: 70px;
        margin: 28px auto 0px auto;
    }

    .service-title {
        color: variables.$header_text_color;
        margin-top: 26px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 123.6%;
    }

    .service-description {
        color: variables.$text_color;
        margin-top: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }
}

// --- dated-list section ----------------------------------
.dated-list {
    background-color: variables.$background_color;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.dated-blocks {
    background-color: variables.$section_color;
    padding: 40px 30px 20px 40px;
    margin-bottom: 20px;

    hr {
        border-top: solid variables.$line_separator_color 1.5px;
        margin: 20px auto 32px auto;
    }
}

.dated-block {
    vertical-align: top;
    
    tr td {
        vertical-align: top;
        height: 50px;
    }

    tr:first-child {
        color: variables.$header_text_color;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 123.6%;
    }

    tr td:first-child {
        width: 36%;
    }

    tr:last-child td:first-child {
        width: auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        display: flex;
        
        #dated-date {
            justify-content: center;
            background-color: variables.$text_background_color;
            text-align: center;
            width: 110px;
            height: 18px;
            transform: translate(21px, 2px);
            
            div {
                color: variables.$section_color;
                margin-top: 5px;
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 100.9%;
            }
        }
    }

    tr:last-child td:last-child {
        color: variables.$text_color;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }
}