body {
  margin: 0;
  background-color: #E5E5E5;
  font-family: "inter";
  font-style: normal;
}

span {
  color: #767676;
}

.section {
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.header-and-description {
  text-align: center;
  font-family: "inter";
  margin: 0px auto 50px auto;
}
.header-and-description .header {
  color: #2B2B2B;
  font-family: "inter";
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.6%;
}
.header-and-description .description {
  width: 440px;
  color: #767676;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.icon-filter {
  filter: invert(65%) sepia(96%) saturate(939%) hue-rotate(355deg) brightness(100%) contrast(106%);
}

#sections-without-sidebar {
  width: 970px;
  position: absolute;
  right: 21px;
  display: flex;
  flex-direction: column;
}

#intro {
  height: 532px;
  padding-left: 60px;
  padding-right: 58px;
  padding-bottom: 0px;
  display: flex;
}

#intro-left-part {
  display: flex;
  flex-direction: column;
}

#intro-header {
  width: 550px;
  height: 135px;
  margin-top: 106px;
  padding: 0px;
}
#intro-header span {
  color: #2B2B2B;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
}
#intro-header span span {
  color: #FFB400;
}

#intro-text {
  width: 424px;
  height: 100px;
  margin-top: 20px;
}
#intro-text span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#intro-hire {
  width: 154px;
  height: 56px;
  padding: 0px;
  margin-top: 28px;
  background-color: #FFB400;
  border-radius: 5px;
  border-style: none;
  display: flex;
}
#intro-hire div {
  margin-top: 16px;
  margin-left: 32px;
}
#intro-hire div span {
  position: inherit;
  color: #2B2B2B;
  font-weight: bold;
  font-size: 16px;
  font-family: "inter";
}
#intro-hire div img {
  width: 11px;
  height: 11px;
  object-fit: cover;
  margin-left: 12px;
}

#intro-person {
  position: relative;
  margin-left: 5px;
}
#intro-person img {
  position: absolute;
  bottom: 0px;
}

#sidebar {
  position: absolute;
  left: 0px;
  width: 305px;
  padding: 50px 45px 25px 40px;
}
#sidebar hr {
  border-top: solid #F0F0F6 1.5px;
  margin: 25px auto 25px auto;
}

#sidebar-person {
  display: flex;
  flex-direction: column;
}
#sidebar-person img {
  width: 150px;
  height: 150px;
  margin: 0px auto 0px auto;
}
#sidebar-person #name {
  margin: 31px auto 0px auto;
  color: #2B2B2B;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
}
#sidebar-person #skill {
  margin: 15px auto 0px auto;
  color: #767676;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
#sidebar-person #links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
#sidebar-person #links .link-circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #FFB400;
}
#sidebar-person #links .link-circle .image-container {
  text-align: center;
}
#sidebar-person #links .link-circle .image-container img {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

#available-circle {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 166px;
  left: 198px;
  border-radius: 8px;
}
#available-circle img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

#infos .infos-fields {
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#infos .infos-fields .infos-row {
  display: flex;
  justify-content: space-between;
}
#infos .infos-fields .infos-row .key {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 24px;
  padding: 0px 6px 0px 5px;
  background-color: #FFB400;
}
#infos .infos-fields .infos-row .value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#available {
  color: #7EB942;
}

.part-header {
  color: #2B2B2B;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
}

#lang-advanced {
  transform: translate(22px, 1px);
}

#lang-native {
  transform: translateX(5px);
}

#language .part-header {
  margin-bottom: 15px;
}
#language #language-fields {
  display: flex;
  flex-direction: column;
}
#language #language-fields .language-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 18px;
}
#language #language-fields .language-row .key {
  color: #767676;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
#language #language-fields .language-row .value {
  color: #767676;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#contacts .part-header {
  margin-bottom: 40px;
}
#contacts table tr td {
  color: #767676;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
#contacts table tr td:nth-child(2) {
  transform: translateX(20px);
}

#skills .part-header {
  margin-bottom: 15px;
}
#skills ul {
  list-style-image: url(icons/item-bullet.svg);
  padding-left: 1em;
}
#skills ul li span {
  position: relative;
  left: 15px;
  color: #767676;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#download-cv {
  height: 40px;
  background-color: #FFB400;
  display: flex;
}
#download-cv div {
  margin-top: 10px;
  margin-left: 40px;
}
#download-cv div span {
  position: inherit;
  color: #2B2B2B;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
#download-cv div img {
  width: 11px;
  height: 11px;
  object-fit: cover;
  margin-left: 12px;
}

#my_services {
  background-color: #E5E5E5;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

#service-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#advertising-service {
  text-align: center;
}
#advertising-service #service-ad {
  width: 260px;
  margin: 22px auto 0px auto;
}
#advertising-service #order-now {
  color: #FFB400;
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.service-block {
  width: 310px;
  height: 225px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  text-align: center;
}
.service-block img {
  width: 70px;
  height: 70px;
  margin: 28px auto 0px auto;
}
.service-block .service-title {
  color: #2B2B2B;
  margin-top: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
}
.service-block .service-description {
  color: #767676;
  margin-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.dated-list {
  background-color: #E5E5E5;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.dated-blocks {
  background-color: #FFFFFF;
  padding: 40px 30px 20px 40px;
  margin-bottom: 20px;
}
.dated-blocks hr {
  border-top: solid #F0F0F6 1.5px;
  margin: 20px auto 32px auto;
}

.dated-block {
  vertical-align: top;
}
.dated-block tr td {
  vertical-align: top;
  height: 50px;
}
.dated-block tr:first-child {
  color: #2B2B2B;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
}
.dated-block tr:last-child td:first-child {
  width: 365px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
}
.dated-block tr:last-child td:first-child #dated-date {
  justify-content: center;
  float: left;
  background-color: #FFB400;
  text-align: center;
  width: 110px;
  height: 18px;
  transform: translate(21px, 2px);
}
.dated-block tr:last-child td:first-child #dated-date div {
  color: #FFFFFF;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100.9%;
}
.dated-block tr:last-child td:last-child {
  color: #767676;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

/*# sourceMappingURL=index.css.map */
